@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sora: "Nunito Sans", sans-serif;
 
  
}

* {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply font-sans  ;
  }
}


/* scrollbar.css */
.hide-scrollbar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
    scrollbar-width: none;     /* For Firefox */
  }

  @keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.slide-in {
    animation: slideInFromLeft 1s ease-out;
}

.checkmark {
  animation: dislike_effect 400ms ease;
}
input:checked ~ .checkmark svg path {
  fill: #f60000;
  stroke-width: 0;
}
input:checked ~ .checkmark {
  animation: like_effect 400ms ease;
}
@keyframes like_effect {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes dislike_effect {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Large screens */
@media (min-width: 1200px) {
  /* styles here */
}

/* Medium screens */
@media (min-width: 768px) and (max-width: 1199px) {
  /* styles here */
}

/* Small screens */
@media (max-width: 767px) {
  /* styles here */
}

/* Extra small screens */
@media (max-width: 479px) {
  /* styles here */
}
  